@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
 @plugin "daisyui" {
    /* themes: black --default; */
 }

 body {
   font-family: "Google Sans Code", monospace;
 }

.bg-animated-gradient {
  background: linear-gradient(
    120deg,
    #000000, /* slate-950 */
    #19284b, /* slate-900 */
    #336bc4  /* slate-800 */
  );
  background-size: 200% 200%;
  animation: gradientMove 8s ease-in-out infinite;
}

@keyframes gradientMove {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

